<section ng-init="vm.init()">
  <div class="page-header">
    <h1>Danh sách người dùng</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body"></div>
    <table
      class="table table-condensed table-bordered table-hover"
      ng-table="vm.userTable"
    >
      <colgroup>
        <col width="20%" />
        <col width="20%" />
        <col width="25%" />
        <col width="25%" />
        <col width="10%" />
      </colgroup>
      <tr ng-repeat="user in $data">
        <td
          class="text-center"
          data-title="'Tên'"
          data-filter="{displayName: 'text'}"
          sortable="'displayName'"
        >
          {{user.displayName}}
        </td>
        <td
          class="text-center"
          data-title="'Công ty'"
          data-filter="{'company.name': 'text'}"
          sortable="'company.name'"
        >
          {{user.company.name}}
        </td>
        <td
          class="text-center"
          data-title="'Email'"
          data-filter="{'email': 'text'}"
          sortable="'email'"
        >
          {{user.email}}
        </td>
        <td
          class="text-center"
          data-title="'Email'"
          data-filter="{'email': 'text'}"
          sortable="'email'"
        >
          {{user.email}}
        </td>
        <td data-title="'Tác vụ'" class="text-center">
          <button
            type="button"
            class="btn btn-primary btn-xs"
            ui-sref="admin.user-edit({userId: user._id})"
          >
            <i class="fa fa-pencil">Sửa</i>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-xs"
            ng-click="vm.remove(user)"
          >
            <i class="fa fa-trash">Xóa</i>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="form-group text-center">
    <button type="button" class="btn btn-primary" ui-sref="admin.user-create">
      Tạo User mới
    </button>
  </div>
</section>
