<section ng-controller="SalariesController as vm" ng-init="vm.findOne()">
    <div class="page-header"><h1>Sửa thông tin {{vm.salaries.name}}</h1></div>
   
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Tiêu đề bậc lương</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id=""
          placeholder="Tên công ty"
          ng-model="vm.salaries.title"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Số tiền bậc lương</label>
      <div class="col-sm-10">
        <input
          type="number"
          class="form-control"
          id=""
          placeholder="Số điện thoại"
          ng-model="vm.salaries.salary"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button  class="btn btn-primary" ng-click="vm.update()">Sửa</button>
      </div>
    </div>
  </section>
  