<section ng-controller="SalariesController as vm" ng-init="vm.init()">
    <div class="page-header">
      <h1>Danh sách bậc lương</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body"></div>
      <table
        class="table table-condensed table-bordered table-hover"
        ng-table="vm.salaryTable"
      >
        <colgroup>
          <col width="45%" />
          <col width="45%" />
          <col width="10%" />
        </colgroup>
        <tr ng-repeat="salary in $data">
          <td
            class="text-center"
            data-title="'Tiêu đề bậc lương'"
            data-filter="{title: 'text'}"
            sortable="'title'"
          >
            {{salary.title}}
          </td>
          <td
           class="text-center"
            data-title="'Số điện thoại'"
            data-filter="{'salary': 'number'}"
            sortable="'salary'"
          >
            {{salary.salary | number}}
          </td>
          <td class="text-center" data-title="'Tác vụ'">
            <button
              type="button"
              class="btn btn-primary btn-xs"
              ui-sref="editSalaries({salaryId: salary._id})"
            >
              <i class="fa fa-pencil">Sửa</i>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              ng-click="vm.remove($index, salary)"
            >
              <i class="fa fa-trash">Xóa</i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="form-group text-center">
      <button
        type="button"
        class="btn btn-primary"
        ui-sref="createSalaries"
      >
        Tạo mới bậc lương
      </button>
    </div>
  </section>
  