<section ng-controller="CompaniesController as vm" ng-init="vm.init()">
    <div class="page-header">
      <h1>Danh sách công ty</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body"></div>
      <table
        class="table table-condensed table-bordered table-hover"
        ng-table="vm.companyTable"
      >
        <colgroup>
          <col width="20%" />
          <col width="20%" />
          <col width="25%" />
          <col width="25%" />
          <col width="10%" />
        </colgroup>
        <tr ng-repeat="company in $data">
          <td
            data-title="'Mã công ty'"
            data-filter="{code: 'text'}"
            sortable="'code'"
          >
            {{company.code}}
          </td>
          <td
            data-title="'Tên công ty'"
            data-filter="{name: 'text'}"
            sortable="'name'"
          >
            {{company.name}}
          </td>
          <td
            data-title="'Địa chỉ'"
            data-filter="{address: 'text'}"
            sortable="'address'"
          >
            {{company.address}}
          </td>
          <td
            data-title="'Số điện thoại'"
            data-filter="{'phone': 'number'}"
            sortable="'phone'"
          >
            {{company.phone}}
          </td>
          <td data-title="'Tác vụ'">
            <button
              type="button"
              class="btn btn-primary btn-xs"
              ui-sref="editCompanies({companyId: company._id})"
            >
              <i class="fa fa-pencil">Sửa</i>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-xs"
              ng-click="vm.remove($index, company)"
            >
              <i class="fa fa-trash">Xóa</i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  
    <div class="form-group text-center">
      <button
        type="button"
        class="btn btn-primary"
        ui-sref="createCompanies"
      >
        Tạo công ty mới
      </button>
    </div>
  </section>
  