<section ng-controller="CompaniesController as vm" >
  <div class="page-header"><h1>Công ty mới</h1></div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Mã công ty</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Mã công ty"
        ng-model="vm.companies.code"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Tên công ty</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Tên công ty"
        ng-model="vm.companies.name"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Địa chỉ</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id=""
        placeholder="Địa chỉ"
        ng-model="vm.companies.address"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Số điện thoại</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id=""
        placeholder="Số điện thoại"
        ng-model="vm.companies.phone"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Active ?</label>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" ng-checked="true" ng-model="vm.companies.active" />
        <label class="form-check-label" for=""> Kích hoạt active </label>
      </div>
    </div>
  </div>
  <!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label">Deleted ? </label>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="" ng-model="vm.companies.deleted" />
        <label class="form-check-label" for=""> Xóa </label>
      </div>
    </div>
  </div> -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button  class="btn btn-primary" ng-click="vm.create()">Lưu</button>
    </div>
  </div>
</section>
